.header {
  grid-area: header;
}
.main {
  grid-area: main;
  max-height: 80vh;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

.App {
  display: grid;
  grid-template-columns: minmax(20ch, 15%) auto;
  grid-template-rows: auto 20%;
  grid-template-areas: 
    "sidebar main"
    "footer footer";
}
